# Global ignoring of different binaries and another temporary files

# Local tree
bin/
etc/
include/
lib/
share/
tmp/

# Cache and dependencies
cache/
dep/

# Build results
obj/
out/

# System cache
Thumbs.db
.DS_Store
